<div class="d-flex">
  <div class="pending-requests">
    <h3 class="text-center">Incoming requests</h3>
    <ul>
      <% @incoming_bookings.each do |booking| %>
      <li class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">
            <%= "#{booking.user.first_name} #{booking.user.last_name}" %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= booking.basket.name.titleize %>
          </h6>
          <p class="card-text">Booked from <%= booking.start_date %> to <%= booking.end_date %>
            (<%= (booking.end_date-booking.start_date).to_i%> days).</p>
            Currently <%= booking.status.downcase %>.</p>
          <a href="#" onclick="processBooking(<%=booking.id%>, 'accepted')" class="card-link">Accept</a>
          <a href="#" onclick="processBooking(<%=booking.id%>, 'rejected')">Decline</a>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="my-requests">
    <h3 class="text-center">My requests</h3>
    <ul>
      <% @my_bookings.each do |booking| %>
      <li class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">
            <%= "#{booking.user.first_name} #{booking.user.last_name}" %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= booking.basket.name.titleize %>
          </h6>
          <p class="card-text">Booked from <%= booking.start_date %> to <%= booking.end_date %>
            (<%= (booking.end_date-booking.start_date).to_i%> days).</p>
            Currently <%= booking.status.downcase %>.</p>
        </div>
      </li>
      <% end %>
    </ul>


  </div>
</div>

<script>
function processBooking(id, action) {
  return fetch(`/bookings/${id}.json`, {
    method: "PUT",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ status: action }),
  })
    .then((response) => response.text())
    .then(() => {
      alert(`Booking ${action}!`);
    })
    .catch((error) => alert("Error: " + error));
}
</script>

