<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('cover-jordan.jpg')";>
  <div class="container">

    <h1>Boutique de baskets Jordan</h1>
    <p>Boutique en ligne de location de baskets air Jordan </p>

  <%# <div class="input-group d-flex justify-content-center" style="width: 80%"> %>
    <%= form_with url: baskets_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Trouve ta basket"
      %>
      <%= submit_tag "Recherche", class: "btn btn-secondary" %>
    <% end %>
  <%# </div> %>
   		<!--<div class="input-group d-flex justify-content-center">
		  <div class="col-5">
		  	<%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
				  <%= f.input :name, input_html: {value: ""} ,placeholder:"which jordan are you looking for ?", class:"form-control"%>
		   </div>
		   <div class="col-1">
				  <%= f.submit "Search", class: "btn btn-primary" %>
		  </div>
			<% end %>-->
		</div>
  </div>
  <div class="container mt-5">
    <div class="row">
     <% @baskets.each do |basket| %>
    <div class="card col-4 my-2 card_category">
      <img class="card-img-top" src="<%= basket.image %>" alt="Card image cap">
        <div class="card-body" data-turbo="false">
          <h5 class="card-title"><%= link_to basket.name, basket_path(basket)  %></h5>
          <p class="card-text"></p>
          </div>
      </div>
        <% end %>
    </div>
  </div>
