<!DOCTYPE html>
<html>
  <head>
    <title>My Jordans!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <!-- <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css"
      rel="stylesheet"/>
  </head> -->

  <body>
    <%= render "components/navbar" %>
      <div class="page-wrapper">
        <%= yield %>
      </div>
    <%= render "components/footer" %>
  </body>
</html>
<style>
  .page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    <%# justify-content: center; %>
    <%# align-items: center; %>
  }
</style>
